<robot name="f110">
  <link name="base_link" />

  <link name="rear_axle_middle" />
  <link name="rear_axle_middle_ground" />
  <link name="imu_link" />
  <link name="car_9_laser" />

  <joint name="rear_axle_middle_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_axle_middle" />
    <origin xyz="-0.13 0.0 -0.02" />
  </joint>

  <joint name="rear_axle_middle_ground_joint" type="fixed">
    <parent link="rear_axle_middle"/>
    <child link="rear_axle_middle_ground" />
    <origin xyz="0 0 -0.05" />
  </joint>

  <joint name="imu_joint" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="imu_link" />
	<origin xyz="0.15 -0.06 0.05" />
  </joint>

  <joint name="lidar_joint" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="car_9_laser" />
	<origin xyz="0.06 0.0 0.185" />
  </joint>

</robot>